@font-face {
    font-family: 'Dyna';
    src: url('../fonts/DynaPuff.ttf') format('truetype');
    font-style: normal;
    
}

.ancho{
    width: 100%;
    height: 34px;
}
.espacio{
    padding: 0 5%;
    align-items: center
}
#barra-logo{
    margin-top: 34px;
    height: 150px !important;
}
.contenedor-flex{
    display: flex;
}
.laterales{
    justify-content: space-between
}
.logo-sena{
    max-width: 115px;
}
.logo-gov{
    max-height: 20px;
}
#barra-gris{
    background-color:#efefef;
    position: fixed;
}
#barra-azul{
    position: relative;
    background-color:#015dca;
    top:34px;
}
body{
    margin: 0;
}

.grid-min{
    display: grid;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(3,1fr);
    gap: 15px;

    grid-template-areas: "fecha inicio"
                         "min min"
                         "bus bus";

}

.item-fecha{
    grid-area: fecha;
}
.item-inicio{
    grid-area:inicio;
}
.item-buscar{
    grid-area:bus;
}
.item-min{
    grid-area:min;
}


/* Estilos para el menu */
nav{
    height:35px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 30%), 0 0 20px rgb(0 0 0 / 10%) inset;
    background-color: #fdfdfd;
}
nav ul li{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;

}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul a{
    display: block;
    text-decoration: none;
    color: #575756;
    padding: 10px;
    text-transform: capitalize;
    font-family:"Dyna";

}
nav ul ul li a:hover{
    background-color:#575756;
    color:#e6e6e6
}
nav ul ul{
    display:none;
    position:absolute;
    top:100%;
    padding: 0;
    background-color: #e6e6e6;

}
nav ul li:hover > ul{
    display:block;
}


